:root {
    --calendarium-details-icon: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http: //www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M8.59 16.58L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42z'/></svg>");
}

/** Settings Service */
.calendarium-notice .calendarium-header {
    margin-top: 0;
}
.calendarium-notice-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
.calendarium-migrating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.migrating-icon {
    display: flex;
}
.migrating-icon.rotating > svg {
    animation: migration-rotating 2s linear infinite;
}
@keyframes migration-rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/** Confirm Buttons */
.calendarium-confirm-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendarium-confirm-buttons-container .dont-ask {
    cursor: pointer;
}

.calendarium-confirm-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

/** Details */
.modal.mod-settings
    .vertical-tab-content.calendarium-settings
    .calendarium-settings-content
    h2:first-child {
    margin-top: initial;
}

details.calendarium-nested-settings > summary {
    outline: none;
    display: block !important;
    list-style: none !important;
    list-style-type: none !important;
    min-height: 1rem;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
    cursor: pointer;
    position: relative;
}

details.calendarium-nested-settings > summary::-webkit-details-marker,
details.calendarium-nested-settings > summary::marker {
    display: none !important;
}

details.calendarium-nested-settings > summary > .collapser {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    content: "";
}

details.calendarium-nested-settings > summary > .collapser > .handle {
    transform: rotate(0deg);
    transition: transform 0.25s;
}

details.calendarium-nested-settings[open] > summary > .collapser > .handle {
    transform: rotate(90deg);
}

.calendarium-settings .calendarium {
    border-bottom: 1px solid var(--background-modifier-border);
    border-top: 1px solid var(--background-modifier-border);
    padding: 18px 0 0 0;
}

.calendarium-create-calendar input[disabled] {
    cursor: not-allowed;
}

.calendarium-settings .calendarium-warning.date-format {
    color: red;
}
.calendarium-settings .calendarium-warning {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.calendarium-settings .existing-calendars {
    padding: 18px;
}
.calendarium-settings .existing-calendars > span {
    display: block;
    text-align: center;
    color: var(--text-muted);
}

.calendarium-nested-settings .setting-item {
    border: 0px;
    padding-bottom: 0;
}
.calendarium-nested-settings {
    padding-bottom: 18px;
}
.calendarium-nested-settings:not([open]) .setting-item-heading {
    border-bottom: 1px solid transparent;
}
.calendarium-nested-settings[open] .setting-item-heading,
.calendarium-nested-settings:not(details) .setting-item-heading {
    border-top: 0px;
    border-bottom: 1px solid var(--background-modifier-border);
}

.calendarium-nested-settings .warning-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.calendarium-nested-settings .warning-label-container + .setting-item {
    padding-top: 20px;
}

.calendarium-settings .calendarium-config .setting-item-name {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.calendarium-context-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.25rem;
}

.calendarium-create-event .event-info {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.calendarium-create-event .event-info > *,
.calendarium-create-event .setting-item {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0.75rem;
    border: 0;
}
.calendarium-create-event .event-info > .event-description {
    display: flex;
    flex-flow: column nowrap;
}

.calendarium-create-event .event-info textarea {
    resize: vertical;
}

/** Preset Calendar Modal */
.calendarium-choose-preset .calendarium-preset-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    margin: 5px;
}
.calendarium-choose-preset .calendarium-preset-container button {
    height: 100%;
    width: 100%;
    white-space: pre-line;
    max-width: 250px;

    flex-direction: column;
}
.calendarium-choose-preset .calendarium-preset-container button.mod-cta {
    box-shadow: 0 0 10px var(--background-modifier-success);
}

/** Leap Day Editor */
.calendarium-leap-day-interval-description {
    color: var(--text-muted);
    border: 0;
}

.calendarium-event-date {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 0.5rem;
}

/** Event Modal */
.calendarium-event-formula .setting-item-control {
    gap: 0.25rem;
}

/** Era Modal */
.era-event {
    flex-grow: 1;
}
